---
import Layout from '@/layouts/Layout.astro';
import LinkCard from '@/components/LinkCard.astro';
---

<Layout>
	<main>
		<h1>Finance Tools</h1>
		<section class="">

			<ul role="list" class="flex">
				<LinkCard
					href="/compare/mortgage"
					title="Mortgage Comparison"
					body="Compare the net value of different mortgages"
				/>
			</ul>
		</section>
	</main>
</Layout>