---
interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="flex gap-2 p-1">
			<a href="/">&gt; Finance Tools</a>
			{title && 
				<span>/</span>
				<h1>{title}</h1>
			}
		</header>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--primary: 136, 58, 234;
		--primary-contrast: 224, 204, 250;
		--primary-highlight: 49, 10, 101;
	}
	html {
		font-family: system-ui, sans-serif;
	}
</style>
